.table {
    width: 100%;
    background-color: #b8d4b0;
    border: solid 6px #738a69;
    border-radius: 15px;
    border-collapse: separate;
    border-spacing: 0;
}

.table thead {
    background-color: #d2e8ca; /* lighter header background */
  }
  
  /* Style the table headers */
  .table th {
    font-size: 1.25rem;      /* Larger text */
    font-weight: bold;       /* Bold text */
    color: #333;             /* Darker text for contrast */
    padding: 1rem;
    text-align: center;
  }
  
  /* Style the table cells */
  .table td {
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
    word-wrap: break-word;
  }
  
  /* Make first column a fixed width for consistent layout */
  .table th:first-child,
  .table td:first-child {
    width: 90px;
  }
  
  /* Bold text for strong tags in table cells */
  .table td strong {
    font-weight: bold;
    font-size: 1.1rem;
    color: #333;
  }

.h2 {
    background-color: #f0a544;
    font-size: 48px;
    font-family: 'Luckiest Guy', cursive;
    color: white;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.buttonPrimary {
    padding: 0.5rem 1rem;
    background-color: #f0a544;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.buttonPrimary:hover {
    background-color: #d89a3b;
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.buttonGroup {

    display: flex;
    justify-content: center;
    gap: 1rem;
}

.tableContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 2rem;
}
.image {

    width: 300px;
    height: auto;
    border-radius: 30px;
}